name: Test
on: [pull_request]

jobs:
  test:
    name: test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install, build, test
      run: |
        npm install --global bs-platform@latest
        npm install
        npm run build
        npm run test
      env:
        CI: true
        
